a,
a,
a,
body {
  background-color: #202023;
  color: #f4ede4;
}

.mainTitle {
  display: flex;
}

.mainTitle img {
  width: 80px; /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

h1 {
  margin-bottom: 10px;
}

p {
  max-width: 40em;
  margin: auto;
}

#frame {
  max-width: 40em;
  margin: auto;
}

#input {
  color: #f4ede4;
  background-color: #202023;
  border: 0.3px solid #f4ede4;
  margin: 0 0 0.25em;
  width: 100%;
  font-size: 120%;
  box-sizing: border-box;
}

#output {
  font-size: 120%;
  margin-top: 0.75em;
  border: 0.3px solid #f4ede4;
  padding: 0.25em;
  min-height: 2em;
}

button,
select,
a {
  background-color: #2a2a2b;
  color: #f4ede4;
}

#funcButton,
#disc {
  max-width: 40em;
  margin: auto;
}

#output > pre {
  margin-left: 5px;
}

/* >をつけることで，outputの直下のpreのみに影響する(子セレクタ)
空白だとoutput下全体(子孫セレクタ) */

.left {
  float: left;
  display: none;
}

.right {
  float: right;
  display: none;
}

#funcButtonTable {
  display: flex;
  justify-content: center;
  float: top;
  max-width: 40em;
}

#funcButton {
  max-width: 40em;
  margin: 25px;
  margin: 0 auto;
}

#footer ul {
  text-align: center;
  list-style: none;
  bottom: 0;
  max-width: 40em;
  margin: auto;
}

/* ツールチップ表示 */
[tooltip] {
  position: relative;
}
[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: 0.7em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 0px solid transparent;
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 210em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 20px;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  background: #202023;
  color: #f4ede4;
  z-index: 1000;
}
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #202023;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #202023;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 25px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}
@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}
